@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900');
html, body {
  margin: 0;
  background-image: url('../assets/seamless-wood-texture.jpg');
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  overflow-y: hidden;
  #container {
    height: 100%;
    overflow-y: hidden;
  }
  #music-instruments {
    float: left;
  }
  #generated-music-items {
    border-left: 1px solid rgba($beige, 0.5);
    height: 100%;
    padding-left: 7rem;
    @media screen and (max-width: 768px) {
      float: left;
      width: 100%;
      padding: 0;
    }
  }
}
.button {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: system-ui;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px $beige inset, 1px 1px 1px $black inset, 0 3px 4px 0 $translucent_black;
  color: rgba($beige, 0.9);
  border: 0;
  padding: 0.6rem 0.75rem;
  border-radius: 5px;
  position: relative;
  &.black {
    background-color: $black;
  }
  &.green {
    background-color: $green;
  }
  &:first-of-type {
    margin-right: 0.75rem;
  }
  &:hover {
    cursor: pointer;
  }
}