@import 'colors';
.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  &:before, &:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate3d(-50%, -50%, 0);
  }
  &.cpad {
    background-color: mix(yellow, black, 90%);
    background-image: linear-gradient(125deg, transparent, rgba(black, 0.3));
    &:before {
      content: '';
    }
    &.up:before {
      border-bottom: 15px solid black;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    &.down:before {
      border-top: 15px solid black;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    &.left:before {
      border-right: 15px solid black;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    &.right:before {
      border-left: 15px solid black;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }
  &.a {
    background-color: blue;
  }
}
.container-content {
  width: 80%;
  height: 80vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  h1 {
    margin: 1.5rem -1px;
    padding: 0.75rem 0;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    font-family: sans-serif;
    opacity: 0.8;
    text-shadow: 1px 1px 0 $border_beige, 0 1px 0 $border_beige, 1px -1px 0 $border_beige, -1px 1px 0 $border_beige, -1px 0 0 $border_beige, -1px -1px 0 $border_beige;
  }
  header + div {
    border: 1px solid $border_beige;
    background: $translucent_black;
    border-radius: 3px;
  }
}