@import 'colors';
.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  &:before, &:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate3d(-50%, -50%, 0);
  }
  &.cpad {
    background-color: mix(yellow, black, 90%);
    background-image: linear-gradient(125deg, transparent, rgba(black, 0.3));
    &:before {
      content: '';
    }
    &.up:before {
      border-bottom: 15px solid black;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    &.down:before {
      border-top: 15px solid black;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    &.left:before {
      border-right: 15px solid black;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    &.right:before {
      border-left: 15px solid black;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }
  &.a {
    background-color: blue;
    position: relative;
    &:after {
      content: 'A';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      color: white;
      font-size: 0.9rem;
    }
  }
}
.container-content {
  width: 85%;
  height: 87vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  h1 {
    margin: 0 0 0.4rem;
    text-transform: uppercase;
    color: $black;
    text-shadow: 1.5px 1.5px 0 rgba($border_beige, 0.3), 0 1.5px 0 rgba($border_beige, 0.3), -1.5px 1.5px 0 rgba($border_beige, 0.3);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3rem;
  }
  #buttons {
    position: relative;
    margin-bottom: 1rem;
    button {
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      background-color: $black;
      box-shadow: 1px 1px 1px $beige inset, 1px 1px 1px $black inset, 0 3px 4px 0 $translucent_black;
      color: rgba($beige, 0.9);
      border: 0;
      padding: 0.6rem 0.75rem;
      border-radius: 5px;
      position: relative;
      &:first-of-type {
        margin-right: 0.75rem;
      }
    }
  }
  header + div {
    background: $translucent_black;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 1.5px 1.5px 1.5px $border_beige, -1.5px -1.5px 1.5px $black;
    background-image: linear-gradient(to bottom, $translucent_black -2%, transparent 5%);
    margin-top: 1.5rem;
  }
  @media screen and (max-width: 768px){
    h1 {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 0.4rem;
    }
    #buttons {
      text-align: center;
    }
  }
}